<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.flutter_sceneview">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="true" />

  <!--  <application
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">-->
</manifest>
